/* 
 --white: #ffffff; белый цвет
  --text-prsmary-dark-bg: #9da4bd; первичный текст на темном фоне 
  --text-secondary-dark-bg: #555555; вторичный текст на темном фоне
  --black-text: #303030; Черный текст 
  --hover-color: #ff6c00; текст состояния
*/

:root {
  --white: #ffffff;
  --text-prsmary-dark-bg: #9da4bd;
  --text-secondary-dark-bg: #555555;
  --black-text: #303030;
  --hover-color: #ff6c00;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--text-body);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

svg {
  fill: currentColor;
}

/* ==== COMPONENTS ==== */
.list--nonstyle {
  list-style: none;
}

.link--nonstyle {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.conteiner__box {
  display: flex;
  justify-content: space-between;
}

.address {
  font-style: normal;
}

/* сокрытие заноловка */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* ==== END COMPONENTS ==== */

/* ==== HAEDER ==== */
.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list .item:not(:last-child) {
  margin-right: 30px;
}
/* ==== END HAEDER ==== */ ;
