/* 
 --white: #ffffff; белый цвет
  --text-prsmary-dark-bg: #9da4bd; первичный текст на темном фоне 
  --text-secondary-dark-bg: #555555; вторичный текст на темном фоне
  --black-text: #303030; Черный текст 
  --hover-color: #ff6c00; текст состояния
*/

:root {
  --white: #ffffff;
  --text-prsmary-dark-bg: #9da4bd;
  --text-secondary-dark-bg: #555555;
  --black-text: #303030;
  --hover-color: #ff6c00;
  --font-title: 'Raleway', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--text-body);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

svg {
  fill: currentColor;
}

/* ==== COMPONENTS ==== */
.list--nonstyle {
  list-style: none;
}

.link--nonstyle {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  padding-top: 130px;
  padding-bottom: 130px;
}

.address {
  font-style: normal;
}

/* сокрытие заноловка */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* ==== END COMPONENTS ==== */

/* ==== HAEDER ==== */
.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 70px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list .item:not(:last-child) {
  margin-right: 30px;
}

.logo {
  fill: var(--black-text);
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 0px;
  padding-bottom: 0px;
}

/* ==== END HAEDER ==== */

/* ==== HERO ==== */
.hero-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* ==== END HERO ==== */

/* ==== ABOUT-US ==== */
.about-us-wrapper {
  display: flex;
}

.about-us-list {
  display: flex;
}

.about-us-item {
  width: 50%;
}
.about-us-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-description {
  width: 50%;
  padding-right: 36px;
  padding-left: 33px;
}
/* ==== END ABOUT-US ==== */

/* ==== PRICE_LIST ==== */
.price-list-wrapper {
  display: flex;
}
/* ==== END PRICE_LIST ==== */

/* ==== ADVANTAGES ==== */
.advantages-wrapper {
  display: flex;
}
/* ==== END ADVANTAGES ==== */

/* ==== ARTISAN ==== */
.artisan-wrapper {
}

.artisan-wrapper-article {
  margin-bottom: 20px;
}

.artisan-wrapper-title {
  margin-bottom: 44px;

  font-family: var(--font-title);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;

  color: var(--black-text);
}

.artisan-list {
  display: flex;
  text-align: center;

  /* margin-left: -30px; */
}

.artisan-item:not(:last-child) {
  margin-right: 30px;
}

.artisan-element-item {
  margin-top: 30px;
}

.artisan-element-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.artisan-element-article {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: var(--hover-color);
}

/* ==== END ARTISAN ==== */

/* ==== GALLERY ==== */
/* .gallery-wrapper {
  
} */
.gallery-list {
  display: flex;

  margin-left: -30px;
}

.gallery-item {
  margin-left: 30px;
}

/* ==== END GALLERY ==== */

/* ==== FOOTER ==== */
.footer__container {
  display: flex;
  flex-wrap: wrap;
}

.footer__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 40px;
}

.footer__address {
  width: 50%;
  padding-left: 100px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__wrapper .list--nonstyle {
  display: flex;
}

.footer-item {
}
/* ==== END FOOTER ==== */ ;
